Ra3BattleNet*/*.apt
Ra3BattleNet*/*.const
Ra3BattleNet*/*.dat
Ra3BattleNet*/*.eaf
Ra3BattleNet*/*.flm
Ra3BattleNet*/*.hash
Ra3BattleNet*/*.swf
Ra3BattleNet*/*.tac
Ra3BattleNet*/Ra3BattleNet*.xml
Ra3BattleNet*/Ra3BattleNet*_art
Ra3BattleNet*/Ra3BattleNet*_geometry
Ra3BattleNet*/Ra3BattleNet*_sounds
Ra3BattleNet*/Ra3BattleNet*_textures
Ra3BattleNet*/Ra3BattleNet*_videos